body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

header {
    background-color: #375eb1;
    color: white;
    padding: 1em;
    text-align: center;
}

main {
    padding: 2em;
    text-align: center;
}

.image-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.image-container img {
    width: 100%;
    height: auto;
}

.buttons-container {
    margin-top: 1em;
}

button {
    background-color: #375eb1;
    color: white;
    border: none;
    padding: 1em;
    margin: 0.5em;
    cursor: pointer;
}

button:hover {
    background-color: #275dd2;
}
